@page
@model RazorPagesContacts.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Last @Model.MaxShowCount Transactions from @Model.AppConfiguration.DatabaseProvider database</h1>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model.Transactions)
            {
                <tr>
                    <td>@transaction.Id</td>
                    <td>@transaction.Name</td>
                    <td>@transaction.Amount</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@transaction.Id">edit</a>
                        <button type="submit" asp-page-handler="delete" 
                                asp-route-id="@transaction.Id">delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="./Create">Create</a>
</form>
<form method="post">
    Generate Transactions:
    <input asp-for="runTransactionGeneration">
    <button type="submit">Submit</button>
</form>
